@import '@/style/global.scss';

@mixin Color($color,$background,$border) {
  color: $color;
  background: $background;
  border-color: $border;
}

.ac-alert {
  font-size: $fontSize;
  color: $color;
  border-radius: $borderRadius;
  padding: 8px $padding;
  background: $background;
  vertical-align: middle;
  margin: 0 10px;
}
// 默认border
.ac-alert__border_left {
  border-left: 8px solid $borderColor;
}
.ac-alert__border_top {
  border-top: 8px solid $borderColor;
}
.ac-alert__border_right {
  border-right: 8px solid $borderColor;
}
.ac-alert__border_bottom {
  border-bottom: 8px solid $borderColor;
}
// color:red
.red {
  @include Color($color, $backgroundRed, $borderRed)
}
// color:yellow
.yellow {
  @include Color($color, $backgroundYellow, $borderYellow)
}
// color:green
.green {
  @include Color($color, $backgroundGreen, $borderGreen)
}
// color:blue
.blue {
  @include Color($color, $backgroundBlue, $borderBlue)
}

// success
.success {
  @include Color($colorWhite, $backgroundBlue, $borderGreen);
}