$fontSize: 16px !default;

$color: #3D4763 !default;
$colorWhite: #fff !default;

$borderColor: #F3F5F9 !default;
$borderRadius: 8px !default;
$borderRed: #cf1322 !default;
$borderYellow: #ffc53d !default;
$borderGreen: #73d13d !default;
$borderBlue: #40a9ff !default;

$padding: 16px !default;

$background: #fff !default;
$backgroundRed: #f5222d !default;
$backgroundYellow: #faad14 !default;
$backgroundGreen: #52c41a !default;
$backgroundBlue: #1890ff !default;